/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --ff-ss: 'Outfit', sans-serif;
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);

    --default-fs: 17;
    --fs-lg: 22;
    --fs-sm: 17;
    --fw-400: 400;
    --fw-700: 700;
}


/* Global Styles */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}


html {
    font-size: calc(var(--default-fs) * 1px);
    /* Base font size for rem calculation */
}

.title {
    font-size: calc(var(--fs-lg) / var(--default-fs) * 1rem);
    font-weight: var(--fw-700);
    color: var(--clr-slate-900);
    text-align: center;
}

.desc {
    font-size: calc(var(--fs-sm) / var(--default-fs) * 1rem);
    font-weight: var(--fw-400);
    color: var(--clr-slate-500);
    text-align: center;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.image-wrapper {
    border-radius: 12px;
    height: 300px;
    overflow: hidden;
}

.card {
    display: grid;
    row-gap: 10px;
    width: min(300px, 100%);
    background-color: white;
    padding: calc(15 / var(--default-fs) * 1rem) calc(15 / var(--default-fs) * 1rem) calc(25 / var(--default-fs) * 1rem) calc(15 / var(--default-fs) * 1rem);
    overflow: hidden;
    border-radius: 10px;
    justify-items: center;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--clr-slate-300);
}


@media (max-width: 375px) {
    html {
        font-size: 14px !important;
        /* Smallest font size for mobile devices */
    }
}